<div class="container">
    <div class="row">
        <div class="span12">
            <div class="page-header">
                <h1>Eduardo Díaz <small>Architect at Lucasian Labs</small></h1>
            </div>
        </div>
        <div class="navbar navbar navbar-inverse">
            <a class="navbar-brand" href="#">@ediazr</a>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">About</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Projects</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <div class="thumbnail">
                <div class="caption">
                    <h3>About this site</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="thumbnail">
                <img src="images/iamedu.jpg" />
                <div class="caption">
                    <h3>About me</h3>
                    <p>
                        My name is Eduardo Díaz,
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
