<div class="row">
  <div class="col12">
    <div class="page-header">
      <h1>Eduardo Díaz <small>Architect at <a href="http://www.lucasianmexico.com/">Lucasian Labs</a></small></h1>

    </div>
  </div>
</div>
<div class="row" ng-controller="MenuCtrl">
  <div class="col-12">
    <div class="navbar navbar navbar-inverse">
      <a class="navbar-brand" href>@iamedu</a>
      <ul class="nav navbar-nav">
        <li ng-class="{active: selection == 'home'}"><a href="#">Home</a></li>
        <li ng-class="{active: selection == 'news'}"><a href="#/news">News</a></li>
        <li ng-class="{active: selection == 'contact'}"><a href="#/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
